global:
  resolve_timeout: 5m

route:
  receiver: default
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 30m

receivers:
  - name: default
    webhook_configs:
      - url: http://api:3000/alertmanager/webhook
        send_resolved: true
